<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created at</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.createdAt}"></td>
        <td>
            <form action="#" th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="#" th:object="${newTask}" th:action="@{/tasks}" method="post" enctype="multipart/form-data">
    <input type="text" th:field="*{title}">
    <textarea th:field="*{description}"></textarea>
    <input type="file" name="file">
    <input type="text" th:field="*{attachmentComment}">
    <button type="submit">Add</button>
</form>
</body>
</html>